.catalogBottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
}

.catalogContainer>div {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.catalogContainer>div>div:first-child {
    flex-grow: 1;
}

.catalogContainer .itemContainer {
    height: 400px;
    width: 250px;
}

.catalogContainer .categoryContainer {
    cursor: pointer;
    height: calc(var(--catalogItemHeight) * 1.2);
    width: calc(var(--catalogItemWidth) * 1.2);
}


.catalogContainer img {
    object-fit: contain;
}

.catalogContainer .categoryContainer img {
    height: calc(var(--catalogItemHeight) * 0.9);
    width: calc(var(--catalogItemWidth) * 1.2 - var(--catalogItemPadding) * 2);
}

.catalogContainer .itemContainer img {
    cursor: pointer;
    height: 200px;
}

.catalogContainer .itemContainer img:hover {
    opacity: 90%;
}

.catalogContainer .itemContainer h2 {
    cursor: pointer;
}

.catalogContainer .itemContainer h2:hover {
    text-decoration: underline;
}

.catalogContainer .categoryContainer:hover {
    text-decoration: underline;
    opacity: 70%;
}

.catalogContainer .itemContainer:hover {
    box-shadow: 0px 1px 12px rgb(194, 194, 194);
}

.ratingStar {
    font-size: x-large;
    cursor: pointer;
}

.userRatingStar {
    border: 1px solid gold;
}

.paginationContainer {
    margin-top: 5vh;
}

.paginationContainer a {
    margin-right: 5px;
}

.filterForm {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    padding: 3px;
    box-shadow: 0px 2px 5px black;
}

.filterForm div {
    margin-right: 2%;
}



/* item details */

.itemDetailsTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemDetailsTop>div:first-child {
    margin-right: 3vw;
}

.itemDetailsContainer {
    margin-top: 3vh;
    width: 80%;
}

.mainImageContainer {
    width: 25vw;
    padding-top: 100%;
    position: relative;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.mainImageContainer img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* carousel */

.detailsImageCarousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsImageCarouselContainer {
    width: 25vw;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.detailsImageCarouselItems {
    opacity: 80%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.detailsImageCarouselItems>img {
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    object-fit: contain;
}

.detailsImageCarouselItems>img:hover {
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    margin-right: 0;
    margin-left: 0;
}

.detailsImageCarousel svg {
    width: 20px;
    height: 40px;
    background-color: rgb(151, 151, 151);
    opacity: 70%;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
}

.detailsImageCarousel svg:hover {
    opacity: 90%;
}

.detailsCarouselLeftBtn {
    left: 0;
}

.detailsCarouselRightBtn {
    right: 0;
}

@media screen and (max-width: 1024px) {
    .filterForm {
        box-shadow: 0 0 0;
        border-radius: 0;
        border-bottom: 1px solid black;
        flex-direction: column;
        align-items: start;
    }

    .catalogContainer {
        font-size: calc(200px / 16);
    }

    .catalogContainer button {
        font-size: calc(200px / 16);
    }

    .catalogContainer button svg {
        width: calc(200px / 9);
    }

    .catalogContainer .itemContainer {
        height: 320px;
        width: 200px;
    }

    .catalogContainer .itemContainer img {
        height: 160px;
    }

    .catalogContainer>div {
        padding: 5px;
    }

    .mainImageContainer {
        width: 40vw;
    }

    .detailsImageCarouselContainer {
        width: 40vw;
    }

    .detailsImageCarouselItems>img {
        width: 7.5vw;
        height: 7.5vw;
    }

    .detailsImageCarouselItems>img:hover {
        width: 8vw;
        height: 8vw;
    }
}

@media screen and (max-width: 768px) {
    .catalogContainer {
        font-size: calc(180px / 16);
    }

    .catalogContainer button {
        font-size: calc(180px / 16);
    }

    .catalogContainer button svg {
        width: calc(180px / 9);
    }

    .catalogContainer .itemContainer {
        height: 288px;
        width: 180px;
    }

    .catalogContainer .itemContainer img {
        height: 140px;
    }

    .itemImages {
        width: 100%;
    }

    .itemDetailsTop>div:first-child {
        margin: 0;
    }

    .mainImageContainer {
        width: 100%;
    }

    .detailsImageCarouselContainer {
        width: 100%;
    }

    .detailsImageCarouselItems>img {
        width: 15vw;
        height: 15vw;
    }

    .detailsImageCarouselItems>img:hover {
        width: 15.5vw;
        height: 15.5vw;
    }
}

@media screen and (max-width: 480px) {
    .catalogContainer>div {
        padding: 3px;
    }

    .catalogContainer {
        font-size: calc(100px / 16);
    }

    .catalogContainer button {
        font-size: calc(100px / 16);
    }

    .catalogContainer button svg {
        width: calc(100px / 9);
    }

    .catalogContainer .itemContainer {
        height: 160px;
        width: 100px;
    }

    .catalogContainer .itemContainer img {
        height: 50px;
    }
}