.catalogContainer {
    display: flex;
    flex-wrap: wrap;
}

.catalogContainer .itemContainer {
    width: 400px;
}

.ratingStar {
    font-size: x-large;
    cursor: pointer;
}

.userRatingStar {
    border: 1px solid gold;
}

.paginationContainer {
    margin-top: 5vh;
}

.paginationContainer a {
    margin-right: 5px;
}

.filterForm {
    background-color: white;
    margin-top: 2vh;
    padding: 3px;
    box-shadow: 0px 2px 5px black;
}