.catalogBottomContainer {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
}

.catalogContainer {
    display: flex;
    flex-wrap: wrap;
}

.catalogContainer>div {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--catalogItemPadding);
}

.catalogContainer>div>div:first-child {
    height: 100%;
}

.catalogContainer .itemContainer {
    height: var(--catalogItemHeight);
    width: var(--catalogItemWidth);
}

.catalogContainer .categoryContainer {
    cursor: pointer;
    height: calc(var(--catalogItemHeight) * 1.2);
    width: calc(var(--catalogItemWidth) * 1.2);
}


.catalogContainer img {
    object-fit: contain;
}

.catalogContainer .categoryContainer img {
    height: calc(var(--catalogItemHeight) * 0.9);
    width: calc(var(--catalogItemWidth) * 1.2 - var(--catalogItemPadding) * 2);
}

.catalogContainer .itemContainer img {
    cursor: pointer;
    height: calc(var(--catalogItemHeight) * 0.5);
    width: calc(var(--catalogItemWidth) - var(--catalogItemPadding) * 2);
}

.catalogContainer .itemContainer img:hover {
    opacity: 90%;
}

.catalogContainer .itemContainer h2 {
    cursor: pointer;
}

.catalogContainer .itemContainer h2:hover {
    text-decoration: underline;
}

.catalogContainer .categoryContainer:hover {
    text-decoration: underline;
    opacity: 70%;
}

.catalogContainer .itemContainer:hover {
    box-shadow: 0px 1px 12px rgb(194, 194, 194);
}

.ratingStar {
    font-size: x-large;
    cursor: pointer;
}

.userRatingStar {
    border: 1px solid gold;
}

.paginationContainer {
    margin-top: 5vh;
}

.paginationContainer a {
    margin-right: 5px;
}

.filterForm {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    padding: 3px;
    box-shadow: 0px 2px 5px black;
}

.filterForm div {
    margin-right: 2%;
}



/* item details */

.itemDetailsTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemDetailsTop>div:first-child {
    margin-right: 3vw;
}

.itemDetailsContainer {
    margin-top: 3vh;
    width: 80%;
}

.itemDetailsContainer .itemImages>img {
    width: 25vw;
    height: 25vw;
    object-fit: contain;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

/* carousel */

.detailsImageCarousel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detailsImageCarouselContainer {
    width: 25vw;
    height: 110px;
    overflow: hidden;
    position: relative;
}

.detailsImageCarouselItems {
    opacity: 80%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.detailsImageCarouselItems>img {
    width: 4.5vw;
    height: 4.5vw;
    margin-right: 0.25vw;
    margin-left: 0.25vw;
    object-fit: contain;
}

.detailsImageCarouselItems>img:hover {
    cursor: pointer;
    width: 5vw;
    height: 5vw;
    margin-right: 0;
    margin-left: 0;
}

.detailsImageCarousel svg {
    width: 20px;
    height: 40px;
    background-color: rgb(151, 151, 151);
    opacity: 70%;
    cursor: pointer;
    border-radius: 3px;
    position: absolute;
}

.detailsImageCarousel svg:hover {
    opacity: 90%;
}

.detailsCarouselLeftBtn {
    left: 0;
}

.detailsCarouselRightBtn {
    right: 0;
}

@media screen and (max-width: 1000px) {
    .itemDetailsContainer .itemImages>img {
        width: 40vw;
        height: 40vw;
    }

    .detailsImageCarouselContainer {
        width: 40vw;
    }

    .detailsImageCarouselItems>img {
        width: 7.5vw;
        height: 7.5vw;
    }

    .detailsImageCarouselItems>img:hover {
        width: 8vw;
        height: 8vw;
    }
}

@media screen and (max-width: 700px) {
    .itemDetailsTop>div:first-child {
        margin: 0;
    }

    .itemDetailsContainer .itemImages>img {
        width: 80vw;
        height: 80vw;
    }

    .detailsImageCarouselContainer {
        width: 80vw;
    }

    .detailsImageCarouselItems>img {
        width: 15.5vw;
        height: 15.5vw;
    }

    .detailsImageCarouselItems>img:hover {
        width: 16vw;
        height: 16vw;
    }
}