.navItems {
    width: 100%;
}

.mobileNavItems {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav a,
nav p {
    margin: 0;
    color: black;
    display: inline-block;
    padding: 5px;
    display: flex;
    align-items: center;
}

nav p {
    cursor: pointer;
}

nav a:hover,
nav p:hover {
    background-color: azure;
}

nav .activeLink {
    background-color: aliceblue;
    text-decoration: underline;
    font-weight: bold;
}

nav .inactiveLink {
    text-decoration: none;
}

.adminNav {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.allNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.adminDropDown {
    cursor: auto;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    white-space: nowrap;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 0;
    display: none;
    z-index: 999;
    box-shadow: 2px 2px 5px 0.5px gray;
}

.adminDropDown a:hover {
    text-decoration: underline;
}

.navRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navMidContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}