* {
    box-sizing: border-box;
}

:root {
    --width: 80%
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    width: 80%;
}

svg {
    cursor: pointer;
}