.econtCities {
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.econtCities li {
    cursor: pointer;
}

.econtCities li:hover {
    background-color: aliceblue;
}

.purchaseDropDown {
    display: flex;
    flex-direction: column;
}

.purchaseForm>div {
    margin-top: 0.5vw;
}

.purchaseFormRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.purchaseDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.purchaseDetailsContainer span {
    font-weight: bold;
    text-transform: capitalize;
}