.econtCities {
    background-color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.econtCities li {
    cursor: pointer;
}

.econtCities li:hover {
    background-color: aliceblue;
}

.purchaseDropDown {
    display: flex;
    flex-direction: column;
}

.purchaseForm>div {
    margin-top: 0.5vw;
}

.purchaseFormRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.purchaseFormRow input {
    margin-left: 1vw;
}

.purchaseDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.purchaseDetailsContainer span {
    font-weight: bold;
    text-transform: capitalize;
}

.purchaseButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.purchaseButtonContainer button {
    font-weight: bold;
}

.purchaseButtonContainer button:hover {
    color: var(--redish);
}

.purchaseHeading {
    color: var(--redish);
    width: 100%;
    text-align: center;
}