.reviewContainer {
    word-break: break-word;
    background: white;
    padding: 1vw;
    border-radius: 4px;
    margin-bottom: 1vh;
}

.reviewsContainer {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.likeButton,
.page {
    cursor: pointer;
}

.likeButton {
    border-radius: 50%;
    padding: 2px;
    padding-bottom: 4px;
}

.likeButton:hover {
    background-color: rgb(163, 163, 240);
}

.page {
    margin-right: 5px;
}

.page:hover {
    color: gray;
}



/* images */

.imageOverlayCloseSvgContainer {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 999;
}

.imageOverlayContainer {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageOverlayContainer .mainImage {
    height: 80%;
    width: 50%;
    background: rgba(255, 255, 255, .8);
    border-radius: 4px;
    object-fit: contain;
    border: 1px solid white;
    cursor: auto;
}