.reviewContainer {
    word-break: break-word;
    background: white;
    padding: 1vw;
    border-radius: 4px;
    margin-bottom: 1vh;
}

.reviewsContainer {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.likeButton,
.page {
    cursor: pointer;
}

.likeButton {
    border-radius: 50%;
    padding: 2px;
    padding-bottom: 4px;
}

.likeButton:hover {
    background-color: rgb(163, 163, 240);
}

.page {
    margin-right: 5px;
}

.page:hover {
    color: gray;
}



/* images */

.imageOverlayCloseSvgContainer {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 999;
}

.imageOverlayContainer {
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageOverlayContainer .mainImage {
    height: 80%;
    width: 50%;
    background: rgba(255, 255, 255, .85);
    border-radius: 4px;
    object-fit: contain;
    border: 1px solid white;
    cursor: auto;
}

.imageOverlayContainer svg {
    margin: 5px;
    padding: 3px;
    box-sizing: content-box;
    background: rgba(255, 255, 255, .65);
    border-radius: 4px;
}

.imageOverlayContainer svg:hover {
    background: rgba(255, 255, 255, .75);
}



/* characteristics */

.characteristicsTable {
    width: 100%;
    border: 2px solid black;
}

.characteristicsTable,
.characteristicsTable th,
.characteristicsTable td {
    border-collapse: collapse;
}

.characteristicsTable th,
.characteristicsTable td {
    border: 1px solid black;
    padding: 1vw;
}

.characteristicsTable thead tr:first-child {
    border-bottom: 2px solid black;
}