.carouselContainer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.carouselContainer:first-child {
    margin-top: 20px;
}

.carouselContainer a,
.carouselContainer h2 {
    margin: 0;
}

.carouselContainer>a {
    text-decoration: none;
    color: black;
}

.carouselContainer>a:hover {
    text-decoration: underline;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.carouselItemsContainer {
    position: relative;
    height: 320px;
    width: 1400px;
    overflow: hidden;
}

.carouselItems {
    left: 0;
    position: absolute;
    height: 100%;
    display: flex;
}

.carouselItem {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    width: 190px;
    height: 100%;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.carouselItem:hover {
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
}

.carouselItem:last-child {
    cursor: pointer;
}

.carouselItem:last-child div {
    position: relative;
}

.carouselItem:last-child img {
    filter: contrast(60%);
    width: 100%;
}

.carouselItem:last-child span {
    display: block;
}

.carouselItem:last-child h2 {
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 900;
    font-size: 28px;
    position: absolute;
    top: 10px;
}

.carouselItem:last-child span:first-child,
.carouselItem:last-child span:nth-child(3),
.carouselItem:last-child span:nth-child(5) {
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
}

.carouselItem:last-child span:nth-child(2),
.carouselItem:last-child span:nth-child(4) {
    color: rgb(248, 93, 93);
}

.carouselItem h3,
.carouselItem img {
    cursor: pointer;
}

.carouselItem h3:hover {
    text-decoration: underline;
}

.carouselItem img:hover {
    opacity: 90%;
}

.carouselItem>div {
    position: absolute;
    bottom: 10px;
}

.carousel>button {
    position: absolute;
    z-index: 1;
    height: 60px;
    width: 40px;
    padding: 2px;
    padding-top: 12px;
}

.carousel>button:first-child {
    left: -50px;
}

.carousel>button:last-child {
    right: -50px;
}

.carousel>button:hover {
    background-color: #eeeef7;
    border-color: transparent;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    padding-left: 3px;
}

.carouselItem button {
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    height: 30px;
    width: 170px;
    position: relative;
}

.carouselItem button::before {
    content: "";
    position: absolute;
    border-radius: 3px;
    left: 0;
    width: 32%;
    height: 100%;
    background: rgb(252, 46, 46);
}

.carouselItem button:hover {
    opacity: 80%;
}

.carouselItem button svg,
.carouselItem button div {
    z-index: 2;
}

.carouselItem button>div {
    width: 28px;
}

.carouselItem button>span {
    color: red;
    flex-grow: 1;
}

.carouselItemThumbnail {
    width: 170px;
    height: 170px;
    object-fit: contain;
}

@media only screen and (max-width: 1200px) {
    .carouselItemsContainer {
        width: 800px;
    }
}

@media only screen and (max-width: 992px) {
    .carouselItemsContainer {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .carouselItemsContainer {
        width: 200px;
    }
}

@media only screen and (max-width: 350px) {
    .carousel>button:first-child {
        height: 100%;
        width: 50%;
        background: transparent;
        border: none;
        left: 0;
    }

    .carousel>button:last-child {
        height: 100%;
        width: 50%;
        background: transparent;
        border: none;
        right: 0;
    }
}