.carouselContainer {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.carouselContainer:first-child {
    margin-top: 20px;
}

.carouselContainer a,
.carouselContainer h2 {
    margin: 0;
}

.carouselContainer>a {
    text-decoration: none;
    color: black;
}

.carouselContainer>a:hover {
    text-decoration: underline;
}

.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.carouselItems {
    margin-left: 10px;
    position: relative;
    height: 320px;
    width: 1400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carouselItem {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    width: 190px;
    height: 310px;
    padding: 10px;
    margin-right: 10px;
    position: absolute;
}

.carouselItem:last-child {
    cursor: pointer;
}

.carouselItem:last-child div {
    position: relative;
}

.carouselItem:last-child img {
    filter: contrast(60%);
    width: 100%;
}

.carouselItem:last-child span {
    display: block;
}

.carouselItem:last-child h2 {
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-weight: 900;
    font-size: 28px;
    position: absolute;
    top: 10px;
}

.carouselItem:last-child span:first-child,
.carouselItem:last-child span:nth-child(3),
.carouselItem:last-child span:nth-child(5) {
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;
}

.carouselItem:last-child span:nth-child(2),
.carouselItem:last-child span:nth-child(4) {
    color: rgb(248, 93, 93);
}

.carouselItem h3,
img {
    cursor: pointer;
}

.carouselItem>div {
    position: absolute;
    bottom: 10px;
}

.carousel button {
    z-index: 1;
    cursor: pointer;
    height: 45px;
    width: 45px;
    padding: 5px;
}

.carouselItemThumbnail {
    width: 100px;
}

@media only screen and (max-width: 1200px) {
    .carouselItems {
        width: 800px;
    }
}

@media only screen and (max-width: 992px) {
    .carouselItems {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .carouselItems {
        width: 200px;
    }
}